.container {
  background-color: #303030;
  height: 12rem;
  width: 12rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin: 1.2rem;
}

.title {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.75px;
}
