.section_heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  max-width: 120rem;
}
.subtitle {
  font-size: 2.2rem;
  font-weight: 700;
  color: #a0a0a0;
  margin-bottom: 1.4rem;
}
.header {
  margin-top: 5.4rem;
}
.title {
  color: #e0e0e0;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 1.8rem;
}
.description {
  font-size: 2.2rem;
  font-weight: 700;
  color: #a0a0a0;
  margin-bottom: 1.6rem;
}

.image_container {
  margin-left: 15%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.button_container {
  display: flex;
  gap: 2.8rem;
  margin-top: 3.2rem;
}

.active_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 16rem;
  background-color: #1aacff;
  border-radius: 12rem;
  padding: 2.6rem 0;
}
.active_button {
  font-size: 1.6rem;
  font-weight: 700;
  color: #222;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.4rem;
  width: 14rem;
  padding: 2.6rem 0;
}

.button_text {
  color: #1aacff;
  font-weight: 600;
  font-size: 1.8rem;
}
